@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}
html, body {
  /* background-color: gray; */
  height: 100vh;
}

#root {
  /* background-color: green; */
}